@import "tailwindcss";


.outfit {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}


@theme {
    /* Primary */
    --color-cust-blue-500: hsl(215, 51%, 70%);
    --color-cust-cyan-400: hsl(178, 100%, 50%);

    /* Neutral */
    /* main bg */
    --color-cust-blue-950: hsl(217, 54%, 11%);
    /* Card bg */
    --color-cust-blue-900: hsl(216, 50%, 16%);
    /* line */
    --color-cust-blue-800: hsl(215, 32%, 27%);

    /* Font size */
    --text-para: 18px;

    /* Weights: 300 - light, 400 - normal, 600 - semibold */
}

@layer base {
    p {
        @apply md:text-para;
    }
    
    a {
        @apply cursor-pointer hover:text-cust-cyan-400;
    }
}